<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Watsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chats!</h1>
    <form action="/chat/new"method="GET">
        <button>New chat</button>
    </form>
    <br>
    
      <%  for(let chat of chats) {%>
            <div class="chat">
                <p>from:@<b><%=chat.from%></b></p>
            
            <div class="massage">
                <p><%=chat.massage%></p>
                <form action="/chat/<%=chat._id%>/edit"method="GET">
                    <button>Edit Massage</button>
                </form>
            </div>
            
                <p>to <i><%=chat.to%></i></p>
                
                <form method="POST"action="/chat/<%= chat._id %>?_method=Delete">
                    <button>Delete</button>
                </form>
                <hr>
                <p><%=chat.created_at.toString().split(" ")[4]%></p>
                <p><%=chat.created_at.toString().split(" ").slice(0, 4).join(" ")%></p>

                
        </div>
        
        <%}%>
    
    
</body>
</html>